<h1>質問一覧</h1>
<ul>
  <li>
    <%= link_to 'すべての質問', questions_path %>
  </li>
  <li>
    <%= link_to '未解決', unsolved_questions_path %>
  </li>
  <li>
    <%= link_to '解決済み', solved_questions_path %>
  </li>
</ul>
<div>
  <%= search_form_for @q do |f| %>
    <%= f.label :title_or_body_cont, '質問を検索' %>
    <%= f.search_field :title_or_body_cont %>
    <%= f.submit %>
  <% end %>
</div>
<div>
  <%= paginate @questions %>
  <%= page_entries_info @questions %>
</div>
<ul>
  <% @questions.each do |question| %>
    <li>
      <%= link_to question.title, question_path(question) %>
      <% if question.user_id == current_user.id %>
        <%= link_to '編集', edit_question_path(question) %>
        <%= link_to '削除', question_path(question), method: :delete, data: { confirm: "質問「#{question.title}」を削除しますか？" } %>
      <% end %>
    </li>
  <% end %>
</ul>
