<%= render @question %>

<% if @question.user_id == current_user.id %>
  <% if @question.solved %>
    解決済み
  <% else %>
    <%= link_to '解決済みにする', solve_question_path(@question), method: :post %>
  <% end %>
  <%= link_to '編集', edit_question_path(@question) %>
  <%= link_to '削除', question_path(@question), method: :delete, data: { confirm: '削除しますか？' } %>
<% end %>

<%= form_with model: [@question, Answer.new] do |f| %>
  <%= f.label :body, '回答' %>
  <%= f.text_area :body, id: 'answer_body' %>
  <%= f.submit '回答する' %>
<% end %>

<ul>
  <% @question.answers.each do |answer| %>
    <li>
      <%= answer.body %>
    </li>
  <% end %>
</ul>
