<div class="ui borderless main menu">
  <div class="ui container">
    <div class="item">質問回答アプリ</div>
    <% if current_user %>
      <div class="item"><%= current_user.name %>さん</div>
      <div class="right menu">
        <!-- /.item -->
        <%= link_to '質問一覧', questions_path, class: 'item' %>
        <%= link_to '質問作成', new_question_path, class: 'item' %>
        <%= link_to 'ユーザー一覧', users_path, class: 'item' %>
        <% if current_user.image.attached? %>
          <div class="item">
            <%= image_tag current_user.image, class: 'ui avatar image' %>
          </div>
        <% end %>
        <!-- /.item -->
        <%= link_to 'ログアウト', logout_path, class: 'item', method: :delete %>
    <% else %>
      <%= link_to 'ログイン', login_path, class: 'item' %>
    <% end %>
    </div>
    <!-- /.right menu -->
  </div>
  <!-- /.ui container -->
</div>
<!-- /.ui menu -->