<% provide :title, '質問一覧' %>

<div class="row">
  <div class="col-md-8">
    <div class="">
      <%= paginate @questions, views_prefix: :admin %>
    </div>
    <!-- /.column -->
    <div class="">
      <%= page_entries_info @questions %>
    </div>
    <!-- /.column -->
  </div>
  <!-- /.row -->
  <!-- /.col-md-8 -->
</div>
<!-- /.row -->

<div class="row my-3">
  <div class="col-md-8">
    <%= search_form_for(@q, url: admin_questions_path) do |f| %>
      <div class="input-group d-flex align-items-center">
        <%= f.label :title_or_body_cont, '質問を検索' %>
        <%= f.search_field :title_or_body_cont, class: "form-control ml-2" %>
        <div class="input-group-append">
          <%= f.submit class: 'btn btn-default' %>
        </div>
        <!-- /.input-group-append -->
      </div>
      <!-- /.field -->
    <% end %>

  </div>
  <!-- /.col -->
</div>
<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th style="width: 30px"></th>
        <th></th>
        <th style="width: 100px"></th>
      </tr>
      </thead>
      <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td>
            <div class="user-block">
              <% if question.user.image.attached? %>
                <%= image_tag question.user.image, class: 'img-circle' %>
              <% else %>
                <%= image_tag 'default_avatar.png', class: 'img-circle' %>
              <% end %>
            </div>
            <!-- /.user-block -->
          </td>
          <td>
            <%= question.title %>
          </td>
          <td>
            <%= link_to '削除', admin_question_path(question), class: 'btn btn-block btn-outline-primary', method: :delete, data: { confirm: '削除しますか？' } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <!-- /.table -->
  </div>
  <!-- /.card-body -->

</div>
<!-- /.card -->
<!--<ul>-->
<%# @questions.each do |question| %>
<!--    <li>-->
<%#= question.title %>
<%#= link_to '削除', admin_question_path(question), method: :delete, data: { confirm: '削除しますか？' } %>
<!--    </li>-->
<%# end %>
<!--</ul>-->
