<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render partial: 'admin/shared/header' %>
<%= render partial: 'admin/shared/flash_message' %>
<%= yield %>
</body>
</html>
