<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>管理画面ログイン</title>

  <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css' %>
  <%= javascript_pack_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js' %>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
  <!-- Font Awesome -->
  <!--  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="login-page" style="min-height: 496.797px;">
<div class="login-box">
  <div class="login-logo">
    <%= link_to '質問回答アプリ', login_path %>
  </div>
  <!-- /.login-logo -->
  <div class="row">
    <div class="col">
      <%= render partial: 'admin/shared/flash_message' %>
    </div>
    <!-- /.col-8 -->
  </div>
  <!-- /.row -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">管理画面にログインする</p>

      <%= render 'admin/sessions/form' %>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

</body>
</html>